

<section class="footer">

   <div class="upper_part">

      <div class="social_logos">

         <a href=""> <img class="footer_main_logo" width="155" height="auto" src="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/aspoizonlogo_white.png" ></a>
         <div class="social_nets">
            <p> Мы в социальных сетях</p>
            <a href="" class="net_icon"><img src="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/logo_inst.png" alt="Запретограм" width="40" height="40"></a>
            <a href="" class="net_icon"><img src="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/logo_telegram.png" alt="Телеграм" width="40" height="40"></a>
            <a href="" class="net_icon"><img src="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/logo_vk.png" alt="ВК" width="40" height="40"></a>
         </div>
      </div>

      <div class="footer_help">
         <h5> Помощь</h5>
         <ul class="help_list">
            <li class="help_text"><a href=""> Корзина </a></li>
            <li class="help_text"><a href=""> Условия заказа и доставки </a></li>
            <li class="help_text"><a href=""> Контакты </a></li>
            <li class="help_text"><a href=""> Еще что-то </a></li>
         </ul>
      </div>

      <div class="footer_help">
         <h5> Компания </h5>
         <ul class="help_list">
            <li class="help_text"><a href=""> О нас </a></li>
            <li class="help_text"><a href=""> Еще что-то </a></li>
         </ul>
      </div>

   </div>

   <div class="down_part">
      <hr>
         <ul class="down_list">
            <li> <a href=""> Политика обработки персональных данных </a></li>
            <li> AS_POIZON since 2023 <i class="fa-solid fa-globe"></i></li>
         </ul>
   </div>

</section>