/* расположение и внутренние настройки шапки */
.header{
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 7px 7%;
   padding-right: 5%;
   background: rgb(15, 15, 15);
   box-shadow: 0 3px 12px rgb(54,141,223);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}

/* поисковая строка */
.search_bar{
   display: flex;
   background: linear-gradient(45deg, #333, #5a5454);
   height: 50px;
   border-radius: 50px;
   padding: 5px;
   margin-left: 5%;
   input{
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      color: white;
      padding: 10px;
      min-width: 250px;
   }
   button{
      color: #00b7ff;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: none;
   }
}

/* панель навигации */
.nav_bar{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* эллементы списка */
.nav_bar li{
   list-style: none;
   padding: 0px 30px;
}

.nav_bar #prod{
   position: relative;
}

.nav_bar li .nav_link {
   position: relative;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: #cacaca
}

.nav_link_prod{
   position: relative;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   color: #cacaca
}

#icon_cart{
   font-size: 18px;
}

.dropdown_menu{
   display: none;
}

.nav_bar #prod:hover .dropdown_menu{
   display: block;
   position: absolute;
   left: 0;
   top: 100%;
   background-color: rgb(15, 15, 15);
}

.dropdown_menu ul{
   display: block;
   padding: 0;
   margin-bottom: 15px;
}

.dropdown_menu ul li{
   margin-left: 5px;
   padding-top: 25px;

}

.nav_link::before, 
.nav_link::after {
  content: "";
  position: absolute;
  background-color: rgb(179, 24, 101);
  height: 3px;
  width: 0;
  transition: 0.5s;
}

/* Линия снизу */
.nav_link::after {
  left: 0;
  bottom: -5px;
}

/* Линия сверху */
.nav_link::before {
  right: 0;
  top: -5px;
}

.nav_link:hover {
  color: white;
}

.nav_link:hover::before, 
.nav_link:hover::after {
  width: 100%;
}