
<div class="header">

   <a href=""> <img src="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/aspoizonlogo_white.png" 
      class="logo"
      width="100px"
      height="auto"> 
   </a>

   <div class="search_bar">
      <input type="search" placeholder="Найди свой товар...">
      <button> 
         <i class="fa-solid fa-magnifying-glass"></i>
      </button>
   </div>

   <div>

      <ul class="nav_bar">

        <li><a class="nav_link" id="na_l" href="">Главная</a></li>
        <li id="prod">
            <a class="nav_link_prod" id="products" >Товары <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown_menu">
               <ul>
                  <li><a class="nav_link" id="na_l" href="/sneakers">Обувь</a></li>
                  <li><a class="nav_link" id="na_l" href="/clothes">Одежда</a></li>
                  <li><a class="nav_link" id="na_l" href="/accessories"> Аксессуары </a></li>
               </ul>
            </div>
         </li>


        <li><a class="nav_link" id="na_l" href="">О нас</a></li>
        <li><a class="nav_link" id="na_l" href="">Доставка</a></li>
        <li><a class="nav_link" id="na_l" href="">Контакты</a></li>
        
        <li><a class="nav_link" id="na_l" id="icon_cart" href=""> <i class="fa-solid fa-cart-shopping"></i></a></li>
         
      </ul>

   </div>
   
</div>