


<div class="product_card">

   <a [routerLink]="['sneaker-info/', product.id]">
      <img [src]="product.main_image">
      <div class="card_info">
         <span id="card_brand"> {{ product.brand }} </span>
         <h5 id="card_title"> {{product.title}}</h5>
         <h4 id="card_price"> {{product.price}} ₽</h4>
         <span class="available" [ngStyle]="{'color': product.available == 'В наличии' ? '#2E7D32' : '#C62828',
                                             'background-color': product.available == 'В наличии' ? '#0de01f4c' : '#ea1b3a68'}" > {{ product.available}} </span>
      </div>
   </a>
</div>