

.product_card{
   width: 20%;
   position: relative;
   min-width: 225px;
   max-width: 240px;
   padding: 10px 12px;
   cursor: pointer;
   transition: 0.2 ease;
}

.product_card:hover{
   box-shadow: 1px 1px 20px rgba(158, 157, 157, 0.507);
}

.product_card a{
   color: black;
   text-decoration: none;
}

.product_card img{
   width: 100%;
   border-radius: 20px;
}

.card_info{
   text-align: start;
   padding: 7px;
}

.product_card .card_info #card_title{
   width: 190px;
   font-size: 18px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.4;
}

#card_price{
   margin: 0;
   padding-bottom: 3px;
   padding-top: 3px;
   font-size: 20px;
   font-weight: 700;
}

.available{
   text-decoration: underline;
}