<div class=" flex flex-row-reverse flex-wrap w-full " style="padding: 10px 30px;">
  
    <div class="product-form-card">
      
      <div style="flex: 1; max-height: calc(100vh - 200px)" class="overflow-y-auto overflow-x-hidden">   
          <form #productForm="ngForm" (ngSubmit)="saveProduct()">

            <!-- Строка 1: Название и Бренд -->
            <div class="form-row" >
              <div class="form-group">
                <label>Название товара <span class="required">*</span></label>
                <input 
                  pInputText 
                  [(ngModel)]="product.title" 
                  name="name"
                  #name="ngModel"
                  required
                  placeholder="Введите название товара"

                />
              </div>

              <div class="form-group">
                <label>Бренд</label>
                <p-select
                  [(ngModel)]="product.brand"
                  [options]="staticData.brands"
                  optionLabel="brand"
                  optionValue="brand"
                  name="brand"
                  filterBy="brand"
                  [filter]="true"
                  placeholder="Бренды"
                  [showClear]="true"
                />
              </div>
            </div>

            <!-- Строка 2: Категория и Цена -->
            <div class="form-row">
              <div class="form-group">
                <label>Категория</label>
                <p-select
                  [(ngModel)]="product.category"
                  [options]="categories"
                  name="category"
                  placeholder="Категория товара"
                  [showClear]="true"
                />
              </div>

              <div class="form-group">
                <label>Цена</label>
                <p-inputNumber
                  [(ngModel)]="product.price"
                  name="price"
                  mode="currency"
                  currency="RUB"
                  locale="ru-RU"
                  [minFractionDigits]="0"
                  [maxFractionDigits]="0"
                  placeholder="Введите цену"
                />
              </div>
            </div>

            <!-- Строка 3: Описание  -->
            <div class="form-row">
              <div class="form-group ">
                <label>Описание</label>
                <textarea
                  style="min-height: 90px;"
                  class="p-2"
                  pInputTextarea
                  [(ngModel)]="product.description"
                  name="description"
                  rows="4"
                  placeholder="Введите описание товара"
                ></textarea>
              </div>

              <!-- Строка 4: Наличие -->
              <div class="form-group">
                <label>Статус</label>
                <div class="status-toggle">
                  <p-toggleButton
                    [(ngModel)]="isActive"
                    name="isActive"
                    onLabel="В наличии"
                    offLabel="Под заказ"
                    onIcon="pi-check"
                    offIcon="pi pi-times"
                    (click)="setAvailable()"
                    [style.borderColor]="isActive ? '#10b981' : '#ef4444'"
                  />
                </div>
              </div>

            </div>



            <!-- Строка 4: Загрузка изображений (на всю ширину) -->
            <div class="form-row full-width">
              <div class="form-group">
                <label>Изображения товара</label>

                <div class="upload-area " >
                  

                  <!-- ГЛАВНОЕ ФОТО -->
                  <div class=" grid ">
                    <label class="col-12 pl-3 pt-3">Главное фото (отображается на карточке товара)</label>
                    
                    <!-- Текущее главное фото (из БД) -->
                    <div *ngIf="(product.main_image.length > 1) && !newMainImageFile" class="current-image" class="col-6 pl-6 pb-4 flex align-items-center">
                      <img [src]="product.main_image" alt="Текущее главное фото" class="w-7" />
                      <p-button (click)="removeCurrentMainImage()" label="Удалить" severity="danger" class="pl-4"/> 
                    </div>
                    
                    <!-- Превью нового главного фото -->
                    <div *ngIf="newMainImagePreview" class="new-image col-6 flex align-items-center">
                      <img [src]="newMainImagePreview" alt="Новое главное фото" class="w-7"/>
                      <p-button (click)="cancelNewMainImage()" label="Отменить" severity="danger" class="pl-4"/> 
                    </div>
                    
                    <!-- Загрузка нового главного фото -->
                    <p-fileUpload
                      *ngIf="!newMainImageFile"
                      name="new_main_image"
                      [multiple]="false"
                      accept="image/jpeg, .jpg, .jpeg"
                      chooseLabel="Заменить главное фото"
                      (onSelect)="onMainImageSelect($event)"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      class="col-6 w-4 flex align-items-center"
                    />
                  </div>
                  <hr class="m-0">


                  <!-- ГАЛЕРЕЯ ФОТО -->
                  <div class="form-group">
                    <label class="pl-2 pt-2 pb-2">Дополнительные фото товара</label>
                    
                    <!-- Список текущих фото из БД -->
                    <div class="flex flex-row align-items-center justify-content-start pl-2" *ngIf="product.images.length > 0">
                      <div *ngFor="let img of product.images; let i = index" class="pr-4 flex flex-column align-items-center" >
                        <img *ngIf="!img.delete" [src]="img.image"  class=" w-12rem"/>
                        <p-button *ngIf="!img.delete" type="button" (click)="markImageForDeletion(i)" severity="danger" label="Удалить" />
                      </div>
                    </div>
                    

                    <!-- Новые добавляемые фото -->
                    <label class="pl-2 pt-4 pb-0"> Новые фотографии для загрузки </label>
                    <div class="flex flex-row align-items-center justify-content-start" *ngIf="newGalleryFiles.length">
                      <div *ngFor="let img of newGalleryPreviews; let i = index" class="pr-4 flex flex-column align-items-center">
                        <img [src]="img" alt="Новое фото" class="w-12rem" />
                        <p-button (click)="removeNewGalleryImage(i)" label="Удалить" severity="danger" />
                      </div>
                    </div>
                    
                    <!-- Загрузка новых фото -->
                    <p-fileUpload
                      name="new_gallery_images"
                      [multiple]="true"
                      accept="image/jpeg, image/jpg, .jpg, .jpeg"
                      chooseLabel="Добавить фото"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      (onSelect)="onGalleryImagesSelect($event)"
                      class="pt-2"
                    />
                  </div>


                </div>
              </div>
            </div>



            <!-- Строка 5: Размеры -->
            <div class="form-group">
              <label>Размеры</label>
                <div class="accordion-content" >
                    <!-- Чекбоксы с размерами -->
                      <div class="w-full">
                        <label *ngFor="let size of staticData.sneakerSizes">

                            <div class="size-option flex flex-row align-items-center justify-content-around w-3rem mr-4 mb-2 " title="RU: {{ size.ru }}, US: {{ size.us }}, SM: {{ size.sm }}"> 

                                <input type="checkbox" 
                                  [value]="size.ru"
                                  [checked]="isSizeSelected(size)"
                                  (change)="toggleSize(size, $event)"
                                  >
                                <span class="size-checkbox"></span>
                                <span class="size-label ">{{ size.ru }} </span>

                            </div>

                        </label>
                    </div>
                </div>

            </div>

            <div class="pt-4rem pl-5rem">

                <app-admin-images-widget  [imagesData]="oldChangedImages()" 
                                          (changeImagesData)="oldChangedImages.set($event)">> 
                </app-admin-images-widget>


            </div>

            

          </form>
      </div>

    </div>

    <!-- Кнопки действий -->
    <div class="mt-2 p-3 product-form-card">
      <button 
        pButton 
        type="submit" 
        label="Сохранить" 
        icon="pi pi-save"
        [disabled]="productForm.invalid"
        class="p-button-success mr-3"
        (click)="print()"
      ></button>
      
      <button 
        pButton 
        type="button" 
        label="Отмена" 
        icon="pi pi-times"
        class="p-button-secondary"
      ></button>
    </div>
</div>
