
.products_list{
   display: grid;
   grid-template-columns: repeat(auto-fill, 225px);
   justify-content: center;
   margin: 0 auto;
   column-gap: 30px;
   row-gap: 30px;
}

.no_data{
   text-align: center;
   justify-content: center;
   font-size: large;
}
