
<section class="products_list" [ngStyle]="{'width': width}"> 

   <app-product-card
      img="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/dunk_low_main.jpg"
      brand="Nike"
      title="Nike Dunk Low Etro Prm Graffiti bdck sdbvk dbsjbvdsbfs ks bjdf"
      price="24750"
      available="В наличии"
   >
   </app-product-card>

   <app-product-card
      img="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/dunk_low_main.jpg"
      brand="Nike"
      title="Nike Dunk Low Etro Prm Graffiti bdck sdbvk dbsjbvdsbfs ks bjdf"
      price="24750"
      available="В наличии"
   >
   </app-product-card>

   <app-product-card
      img="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/dunk_low_main.jpg"
      brand="Nike"
      title="Nike Dunk Low Etro Prm Graffiti bdck sdbvk dbsjbvdsbfs ks bjdf"
      price="24750"
      available="В наличии"
   >
   </app-product-card>

   <app-product-card
      img="https://bb5cb8d5-a455-46c6-a77c-1567031ec1a7.selstorage.ru/Fronted_static_images/dunk_low_main.jpg"
      brand="Nike"
      title="Nike Dunk Low Etro Prm Graffiti bdck sdbvk dbsjbvdsbfs ks bjdf"
      price="24750"
      available="В наличии"
   >
   </app-product-card>

</section>
