.feature{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.feature_icon{
   width: 40%;
   height: auto;
}

.feature_title{
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   margin: 5px;
}

.feature_text{
   text-align: center;
   color: gray;
   width: 80%;
}