* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Sidebar Styling */
    .sidebar {
      width: 290px;
      background-color: #33373d;
      color: #fff;
      padding-top: 20px;
      height: 100vh;
    }

    .sidebar .logo {
      padding: 0 25px 30px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .sidebar nav ul {
      list-style: none;
    }

    .sidebar nav ul li {
      padding: 15px 25px;
      cursor: pointer;
      transition: 0.3s;
    }

    .sidebar nav ul li a {
      color: #aeb2b7;
      font-size: larger;
      font-weight: 700;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .sidebar nav ul li:hover, 
    .sidebar nav ul li.active {
      background-color: #40444b;
    }

    .sidebar nav ul li.active a {
      color: #00b7ff;
    }