<aside class="sidebar">
   <div class="logo"> Панель администартора </div>
   <nav>
      <ul>
         <li routerLinkActive="active">
            <a routerLink="/admin/main-table" >
               <i class="fa-solid fa-box">
               </i> Товары </a>
         </li>
         
         
         <li routerLinkActive="active">
            <a routerLink="/admin/product-info/create" >
               <i class="fa-solid fa-cart-shopping">
            </i> Заказы </a>
         </li>

         <li routerLinkActive="active">
            <a routerLink="g" >
               <i class="fa-solid fa-gear">
            </i> Настройки </a>
         </li> 
      </ul>
   </nav>
</aside>