   <div class="card">
            <p-table  [value]="products" [tableStyle]="{ 'min-width': '60rem'}" >
                <ng-template #caption>
                    <div class="flex items-center justify-between">
                        <span class="text-xl font-bold"> Таблица товаров </span>
                    </div>
                </ng-template>

                <ng-template #header>
                    <tr>
                        <th style="width: 5%"> ID </th>
                        <th style="width: 20%">Название </th>
                        <th>Бренд</th>
                        <th >Главное фото</th>
                        <th>Цена</th>
                        <th>Категория</th>
                        <th>Статус</th>
                    </tr>
                </ng-template>

                <ng-template #body let-product>
                    <tr>
                        <td > {{ product.id }} </td>
                        <td> {{ product.title }} </td>
                        <td>  {{ product.brand }} </td>
                        <td style="width: 25%">
                            <img [src]="product.main_image" class="image" />
                        </td>
                        <td> {{ product.price }} ₽</td>
                        <td> {{ product.category }} </td>
                        <td>
                            <span class="available" [ngStyle]="{'color': product.available == 'В наличии' ? '#2E7D32' : '#C62828',
                                             'background-color': product.available == 'В наличии' ? '#0de01f4c' : '#ea1b3a68'}" > {{ product.available}} </span>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #footer>
                    <tr>
                        <td colspan="6">Всего - {{ products ? products.length : 0 }} товаров</td>
                    </tr>
                </ng-template>
            </p-table>
   </div>